In [1]:
from wrangle_data_funcs import *
from modelling_funcs import *
from predict_gw_scores import *

In [2]:
training_year, training_n_gws, pred_year, pred_gw, alpha, features, output = get_params()
training_df = get_training_df(training_year, training_n_gws, alpha)
test_model(training_df, features)
prediction_df = get_prediction_df(pred_year, pred_gw, alpha)

# pred_df.to_csv(f"{output}.csv", index=False)
# pred_df_simple.to_csv(f'{output}_simple.csv', index=False)

{'GK': 2.0959865971879785, 'DEF': 2.1396947436228384, 'MID': 2.238847508559758, 'FWD': 2.7334366794252953}

In [3]:
prediction_df.query('full_name in ["gianluigi_donnarumma", "josko_gvardiol", "phil_foden", "erling_haaland"]')
# prediction_df.iloc[[207, 243, 378, 586], 40] = 20

,full_name,gw,total_points,position,team,opponent_team,xP,assists,bonus,bps,...,transfers_out,value,yellow_cards,opponent_team_name,ewma_team_goals,ewma_team_points,team_name_nw_opponent,team_nw_opponent,ewma_team_goals_nw_opponent,ewma_team_points_nw_opponent
207,erling_haaland,5,9,FWD,Man City,1,8.02815,0.0,2.6913,39.4753,...,102289.7649,140.9570,0.0,Arsenal,2.0374,1.6503,Burnley,Burnley,0.7998,0.6087
243,gianluigi_donnarumma,5,1,GK,Man City,1,4.20000,0.0,0.0000,20.3000,...,13804.8000,55.0000,0.3,Arsenal,2.0374,1.6503,Burnley,Burnley,0.7998,0.6087
378,josko_gvardiol,5,4,DEF,Man City,1,1.51500,0.0,0.0000,9.4200,...,101866.8288,58.7301,0.0,Arsenal,2.0374,1.6503,Burnley,Burnley,0.7998,0.6087
586,phil_foden,5,3,MID,Man City,1,3.47281,0.0,0.4200,11.5932,...,17185.5210,80.0000,0.0,Arsenal,2.0374,1.6503,Burnley,Burnley,0.7998,0.6087

In [4]:
prediction_df1  = prediction_df.copy()
prediction_df2  = prediction_df.copy()
prediction_df3  = prediction_df.copy()

prediction_df2.iloc[[207, 243, 378, 586], 39] = 20
# prediction_df3.iloc[[207, 243, 378, 586], 40] = 20

In [5]:
pred_df1 = train_full_model(training_df, features, prediction_df1)
pred_df1 = merge_ownership_data(pred_df1)
pred_df1_simple = pred_df1[['full_name', 'position', 'team', 'ewma_total_points', 'predicted_points', 'owner']]

In [6]:
pred_df2 = train_full_model(training_df, features, prediction_df2)
pred_df2 = merge_ownership_data(pred_df2)
pred_df2_simple = pred_df2[['full_name', 'position', 'team', 'ewma_total_points', 'predicted_points', 'owner']]

In [7]:
pred_df3 = train_full_model(training_df, features, prediction_df3)
pred_df3 = merge_ownership_data(pred_df3)
pred_df3_simple = pred_df3[['full_name', 'position', 'team', 'ewma_total_points', 'predicted_points', 'owner']]

In [8]:
pred_df1_simple.query('full_name in ["gianluigi_donnarumma", "josko_gvardiol", "phil_foden", "erling_haaland"]')

,full_name,position,team,ewma_total_points,predicted_points,owner
207,erling_haaland,FWD,Man City,10.0801,5.358304,88376.0
243,gianluigi_donnarumma,GK,Man City,4.5000,5.789698,85076.0
378,josko_gvardiol,DEF,Man City,2.4600,3.215375,85076.0
586,phil_foden,MID,Man City,3.5229,3.693462,88376.0

In [9]:
pred_df2_simple.query('full_name in ["gianluigi_donnarumma", "josko_gvardiol", "phil_foden", "erling_haaland"]')

,full_name,position,team,ewma_total_points,predicted_points,owner
207,erling_haaland,FWD,Man City,10.0801,5.730590,88376.0
243,gianluigi_donnarumma,GK,Man City,4.5000,6.161984,85076.0
378,josko_gvardiol,DEF,Man City,2.4600,3.587661,85076.0
586,phil_foden,MID,Man City,3.5229,4.065748,88376.0

In [10]:
pred_df3_simple.query('full_name in ["gianluigi_donnarumma", "josko_gvardiol", "phil_foden", "erling_haaland"]')

,full_name,position,team,ewma_total_points,predicted_points,owner
207,erling_haaland,FWD,Man City,10.0801,5.358304,88376.0
243,gianluigi_donnarumma,GK,Man City,4.5000,5.789698,85076.0
378,josko_gvardiol,DEF,Man City,2.4600,3.215375,85076.0
586,phil_foden,MID,Man City,3.5229,3.693462,88376.0

In [10]:
something

,full_name,position,team,ewma_total_points,predicted_points,owner
698,tyrick_mitchell,DEF,Crystal Palace,6.8058,8.598551,85646.0

In [ ]:
def main():
    training_year, training_n_gws, pred_year, pred_gw, alpha, features, output = get_params()
    training_df = get_training_df(training_year, training_n_gws, alpha)
    test_model(training_df, features)
    prediction_df = get_prediction_df(pred_year, pred_gw, alpha)
    pred_df = train_full_model(training_df, features, prediction_df)
    pred_df = merge_ownership_data(pred_df)
    pred_df_simple = pred_df[['full_name', 'position', 'team', 'ewma_total_points', 'predicted_points', 'owner']]
    pred_df.to_csv(f"{output}.csv", index=False)
    pred_df_simple.to_csv(f'{output}_simple.csv', index=False)