In [146]:
import requests, json
import pandas as pd
from useful_funcs import *
from predict_player_scores import get_latest_players_df

In [85]:
league_url = 'https://draft.premierleague.com/api/league/19188/element-status'
r = requests.get(league_url).json()

In [92]:
ownership_df = pd.json_normalize(r['element_status'])

In [78]:
url = 'https://draft.premierleague.com/api/bootstrap-static'
req = requests.get(url).json()
players_df = pd.json_normalize(req['elements'])

In [ ]:
players_df['full_name'] = players_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)
merge_name_df = players_df[['id', 'full_name']]

In [96]:
ownership_df_name = ownership_df.merge(merge_name_df, how='left', left_on='element', right_on='id')

In [100]:
old_pred_df = pd.read_csv('../drafting/player_score_predictions_delta.csv')

In [107]:
old_pred_df['full_name'] = old_pred_df['full_name'].str.lower().str.strip()

In [138]:
pred_df = old_pred_df.merge(ownership_df_name, how='outer', on='full_name')

In [139]:
pred_df

,full_name,pos,team_name,total_points,y_pred,notes,y_pred_delta_1,y_pred_delta_2,y_pred_delta_3,y_pred_delta_4,...,y_pred_delta_7,y_pred_delta_8,y_pred_delta_9,y_pred_delta_10,is_available,element,in_accepted_trade,owner,status,id
0,aaron_anselmino,DEF,Chelsea,0.0,-1.800599,NaN,0.625922,0.0,0.000000,0.000000,...,0.000000,8.871476,0.000000,0.000000,True,234,False,NaN,a,234
1,aaron_hickey,DEF,Brentford,0.0,5.340009,NaN,0.000000,0.0,0.000000,0.611548,...,0.000000,0.000000,0.000000,0.000000,True,116,False,NaN,a,116
2,aaron_ramsdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,673,False,NaN,a,673
3,aaron_ramsey,MID,Burnley,0.0,27.162412,promoted_team,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,True,211,False,NaN,a,211
4,aaron_wan_bissaka,DEF,West Ham,118.0,56.569787,NaN,0.000000,0.0,0.000000,0.000000,...,1.872975,0.000000,0.000000,0.000000,True,610,False,85076.0,o,610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,zain_silcott_duberry,MID,Bournemouth,1.0,24.922663,jan_transfer,0.086670,0.0,0.000000,0.000000,...,0.000000,0.000000,0.421542,0.000000,True,95,False,NaN,a,95
681,zak_johnson,DEF,Sunderland,0.0,33.661237,promoted_team,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.625922,True,538,False,NaN,a,538
682,zeki_amdouni,FWD,Burnley,0.0,66.568110,promoted_team,0.000000,0.0,0.000000,0.970461,...,5.550651,1.220135,0.000000,0.356870,True,216,False,NaN,a,216
683,zepiqueno_redmond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65,False,NaN,a,65
684,zian_flemming,FWD,Burnley,0.0,81.479344,promoted_team,0.000000,0.0,0.233474,3.984478,...,0.023493,0.333376,2.264915,0.000000,True,215,False,NaN,a,215

In [206]:
pos_pred_df2 = pred_df.sort_values('y_pred', ascending=False).query('status=="a"')

pos_pred_df3 = pos_pred_df2.iloc[:, :5]

In [207]:
updated_player_df = get_latest_players_df()

col_of_interest = ['first_name', 'second_name',
                   'form', 'total_points', 'transfers_in', 'transfers_out', 'value_form', 'minutes']

current_stats = updated_player_df[col_of_interest]

current_stats['full_name'] = updated_player_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)

current_stats2 = current_stats.drop(['first_name', 'second_name'], axis=1)

current_stats2['transfer_delta'] = current_stats2['transfers_in'] - current_stats2['transfers_out']

C:\Users\User\AppData\Local\Temp\ipykernel_9528\1447550088.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_stats['full_name'] = updated_player_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)

In [208]:
pos_pred_df4 = pos_pred_df3.merge(current_stats2, on='full_name', how='left')

In [209]:
pos_pred_df4

,full_name,pos,team_name,total_points_x,y_pred,form,total_points_y,transfers_in,transfers_out,value_form,minutes,transfer_delta
0,son_heung_min,MID,Spurs,129.0,165.209198,0.0,0,0,14876,0.0,0,-14876
1,luis_diaz_marulanda,MID,Liverpool,183.0,144.874270,0.0,0,0,3908,0.0,0,-3908
2,marcus_rashford,MID,Man Utd,95.0,117.646442,0.0,0,0,599,0.0,0,-599
3,justin_kluivert,MID,Bournemouth,158.0,115.192051,0.0,0,258,29927,0.0,0,-29669
4,savio_moreira_de_oliveira,MID,Man City,106.0,111.910340,0.0,0,208,37903,0.0,0,-37695
...,...,...,...,...,...,...,...,...,...,...,...,...
590,will_lankshear,NaN,NaN,NaN,NaN,0.0,0,0,1700,0.0,0,-1700
591,yang_min_hyeok,NaN,NaN,NaN,NaN,0.0,0,0,1003,0.0,0,-1003
592,yunus_emre_konak,NaN,NaN,NaN,NaN,0.0,0,410,1544,0.0,0,-1134
593,zach_marsh,NaN,NaN,NaN,NaN,0.0,0,1745,2817,0.0,0,-1072
594,zepiqueno_redmond,NaN,NaN,NaN,NaN,0.0,0,8572,9480,0.0,0,-908

In [218]:
pos_pred_df4.sort_values('transfers_in', ascending=False).query('pos=="MID"').head(50)

,full_name,pos,team_name,total_points_x,y_pred,form,total_points_y,transfers_in,transfers_out,value_form,minutes,transfer_delta
148,tijjani_reijnders,MID,Man City,0.0,57.748707,10.0,10,888183,28314,1.8,90,859869
160,matt_o'riley,MID,Brighton,50.0,57.205041,10.0,10,76922,13474,1.8,87,63448
13,declan_rice,MID,Arsenal,127.0,95.997649,6.0,6,61293,49586,0.9,82,11707
441,hamed_traore,MID,Bournemouth,0.0,24.922663,4.0,4,54507,12538,0.9,16,41969
121,elliot_anderson,MID,Nott'm Forest,107.0,61.030419,6.0,6,40836,47551,1.1,90,-6715
133,moises_caicedo_corozo,MID,Chelsea,98.0,59.919443,5.0,5,35183,48817,0.9,90,-13634
111,simon_adingra,MID,Sunderland,60.0,63.270167,6.0,6,32135,13140,1.1,75,18995
346,pape_matar_sarr,MID,Spurs,71.0,38.832055,6.0,6,29899,26329,1.2,90,3570
293,amadou_onana,MID,Aston Villa,65.0,42.287107,5.0,5,29414,17561,1.0,90,11853
61,dan_ndoye,MID,Nott'm Forest,0.0,79.084296,9.0,9,28162,7774,1.5,78,20388
445,josh_king,MID,Fulham,10.0,24.835993,2.0,2,27882,12333,0.4,76,15549
415,aaron_ramsey,MID,Burnley,0.0,27.162412,0.0,0,27416,76746,0.0,0,-49330
135,martin_zubimendi_ibanez,MID,Arsenal,0.0,59.889894,5.0,5,25581,24119,0.9,90,1462
252,granit_xhaka,MID,Sunderland,0.0,45.216290,3.0,3,24378,20865,0.6,90,3513
334,carlos_baleba,MID,Brighton,87.0,39.151164,3.0,3,23276,40514,0.6,68,-17238
6,iliman_ndiaye,MID,Everton,114.0,101.479645,2.0,2,19731,125913,0.3,90,-106182
147,oscar_bobb,MID,Man City,3.0,57.748707,6.0,6,17943,3836,1.1,90,14107
30,alexis_mac_allister,MID,Liverpool,122.0,90.712638,5.0,5,16650,16253,0.8,71,397
242,chemsdine_talbi,MID,Sunderland,0.0,45.216290,6.0,6,15924,3974,1.2,90,11950
120,marcus_tavernier,MID,Bournemouth,87.0,61.030419,4.0,4,14636,5657,0.7,90,8979
298,kiernan_dewsbury_hall,MID,Chelsea,18.0,41.865565,2.0,2,14514,31458,0.4,90,-16944
77,georginio_rutter,MID,Brighton,95.0,75.258919,6.0,6,13946,15303,1.0,68,-1357
10,enzo_fernandez,MID,Chelsea,135.0,96.027198,3.0,3,12583,41467,0.5,78,-28884
463,lewis_miley,MID,Newcastle,21.0,22.243716,1.0,1,12135,20503,0.2,7,-8368
12,estevao_almeida_de_oliveira_goncalves,MID,Chelsea,0.0,96.027198,0.0,0,10627,30039,0.0,36,-19412
236,anton_stach,MID,Leeds,0.0,45.216290,8.0,8,9160,2742,1.6,90,6418
285,david_brooks,MID,Bournemouth,52.0,42.976541,4.0,4,7599,2396,0.8,83,5203
29,federico_chiesa,MID,Liverpool,7.0,90.712638,6.0,6,7025,1895,0.9,8,5130
132,john_mcginn,MID,Aston Villa,78.0,60.340984,3.0,3,6381,7773,0.5,83,-1392
18,jeremy_doku,MID,Man City,88.0,93.856462,3.0,3,6263,18623,0.5,65,-12360
28,dominik_szoboszlai,MID,Liverpool,143.0,90.712638,2.0,2,6245,26056,0.3,90,-19811
145,sandro_tonali,MID,Newcastle,106.0,58.351471,3.0,3,6156,21511,0.5,90,-15355
462,enso_gonzalez_medina,MID,Wolves,0.0,22.767691,0.0,0,5453,15044,0.0,0,-9591
272,adam_wharton,MID,Crystal Palace,42.0,44.065849,3.0,3,5413,4979,0.6,90,434
63,callum_hudson_odoi,MID,Nott'm Forest,103.0,79.084296,2.0,2,5336,13997,0.3,90,-8661
279,tyler_adams,MID,Bournemouth,58.0,42.976541,4.0,4,5288,3178,0.8,90,2110
454,andrey_nascimento_dos_santos,MID,Chelsea,0.0,23.811688,1.0,1,5259,4141,0.2,11,1118
450,kadan_young,MID,Aston Villa,0.0,24.233229,0.0,0,5238,7659,0.0,0,-2421
20,bernardo_mota_veiga_de_carvalho_e_silva,MID,Man City,110.0,93.856462,3.0,3,5144,11309,0.5,65,-6165
123,harry_wilson,MID,Fulham,78.0,60.943748,5.0,5,4639,11350,0.9,90,-6711
427,justin_devenny,MID,Crystal Palace,34.0,26.011972,1.0,1,4519,13024,0.2,6,-8505
127,donyell_malen,MID,Aston Villa,34.0,60.340984,1.0,1,4013,39245,0.2,6,-35232
68,mikel_merino_zazon,MID,Arsenal,92.0,77.943771,1.0,1,3725,12801,0.2,7,-9076
51,mason_mount,MID,Man Utd,25.0,81.538687,2.0,2,3590,3677,0.3,64,-87
15,bruno_guimaraes_rodriguez_moura,MID,Newcastle,135.0,94.459226,3.0,3,3576,18665,0.5,90,-15089
76,yankuba_minteh,MID,Brighton,102.0,75.258919,3.0,3,3485,16054,0.5,68,-12569
225,kobbie_mainoo,MID,Man Utd,42.0,45.430932,0.0,0,3412,11476,0.0,0,-8064
185,ryan_gravenberch,MID,Liverpool,92.0,54.604883,0.0,0,3227,1933,0.0,0,1294
455,ismeal_kabia,MID,Arsenal,0.0,23.782139,0.0,0,2997,4053,0.0,0,-1056
130,jacob_ramsey,MID,Aston Villa,66.0,60.340984,0.0,0,2906,10652,0.0,0,-7746