In [1]:
import requests, json
import pandas as pd
from useful_funcs import *
from predict_player_scores import get_latest_players_df

In [2]:
league_url = 'https://draft.premierleague.com/api/league/19188/element-status'
r = requests.get(league_url).json()

In [3]:
ownership_df = pd.json_normalize(r['element_status'])

In [4]:
url = 'https://draft.premierleague.com/api/bootstrap-static'
req = requests.get(url).json()
players_df = pd.json_normalize(req['elements'])

In [5]:
players_df['full_name'] = players_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)
merge_name_df = players_df[['id', 'full_name']]

In [6]:
ownership_df_name = ownership_df.merge(merge_name_df, how='left', left_on='element', right_on='id')

In [7]:
old_pred_df = pd.read_csv('../drafting/player_score_predictions_delta.csv')

In [8]:
old_pred_df['full_name'] = old_pred_df['full_name'].str.lower().str.strip()

In [9]:
pred_df = old_pred_df.merge(ownership_df_name, how='outer', on='full_name')

In [21]:
pred_df

,full_name,pos,team_name,total_points,y_pred,notes,y_pred_delta_1,y_pred_delta_2,y_pred_delta_3,y_pred_delta_4,...,y_pred_delta_7,y_pred_delta_8,y_pred_delta_9,y_pred_delta_10,is_available,element,in_accepted_trade,owner,status,id
0,aaron_anselmino,DEF,Chelsea,0.0,-1.800599,NaN,0.625922,0.0,0.000000,0.000000,...,0.000000,8.871476,0.000000,0.000000,True,234.0,False,NaN,a,234.0
1,aaron_hickey,DEF,Brentford,0.0,5.340009,NaN,0.000000,0.0,0.000000,0.611548,...,0.000000,0.000000,0.000000,0.000000,True,116.0,False,NaN,a,116.0
2,aaron_ramsdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,673.0,False,NaN,a,673.0
3,aaron_ramsey,MID,Burnley,0.0,27.162412,promoted_team,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,True,211.0,False,NaN,a,211.0
4,aaron_wan_bissaka,DEF,West Ham,118.0,56.569787,NaN,0.000000,0.0,0.000000,0.000000,...,1.872975,0.000000,0.000000,0.000000,True,610.0,False,NaN,a,610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,zain_silcott_duberry,MID,Bournemouth,1.0,24.922663,jan_transfer,0.086670,0.0,0.000000,0.000000,...,0.000000,0.000000,0.421542,0.000000,True,95.0,False,NaN,a,95.0
704,zak_johnson,DEF,Sunderland,0.0,33.661237,promoted_team,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.625922,True,538.0,False,NaN,a,538.0
705,zeki_amdouni,FWD,Burnley,0.0,66.568110,promoted_team,0.000000,0.0,0.000000,0.970461,...,5.550651,1.220135,0.000000,0.356870,True,216.0,False,NaN,a,216.0
706,zepiqueno_redmond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65.0,False,NaN,a,65.0
707,zian_flemming,FWD,Burnley,0.0,81.479344,promoted_team,0.000000,0.0,0.233474,3.984478,...,0.023493,0.333376,2.264915,0.000000,True,215.0,False,NaN,a,215.0

In [12]:
pos_pred_df2 = pred_df.sort_values('y_pred', ascending=False).query('status=="a"')

pos_pred_df3 = pos_pred_df2.iloc[:, :5]

In [13]:
updated_player_df = get_latest_players_df()

col_of_interest = ['first_name', 'second_name',
                   'form', 'total_points', 'transfers_in', 'transfers_out', 'value_form', 'minutes']

current_stats = updated_player_df[col_of_interest]

current_stats['full_name'] = updated_player_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)

current_stats2 = current_stats.drop(['first_name', 'second_name'], axis=1)

current_stats2['transfer_delta'] = current_stats2['transfers_in'] - current_stats2['transfers_out']

C:\Users\dellis2\AppData\Local\Temp\ipykernel_32608\1447550088.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_stats['full_name'] = updated_player_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)

In [14]:
pos_pred_df4 = pos_pred_df3.merge(current_stats2, on='full_name', how='left')

In [24]:
pos_pred_df4.query('pos=="MID"').head(30)

,full_name,pos,team_name,total_points_x,y_pred,form,total_points_y,transfers_in,transfers_out,value_form,minutes,transfer_delta
0,son_heung_min,MID,Spurs,129.0,165.209198,0.0,0,0,20555,0.0,0,-20555
1,luis_diaz_marulanda,MID,Liverpool,183.0,144.874270,0.0,0,0,5658,0.0,0,-5658
2,marcus_rashford,MID,Man Utd,95.0,117.646442,0.0,0,0,1275,0.0,0,-1275
3,justin_kluivert,MID,Bournemouth,158.0,115.192051,0.5,1,7668,42991,0.1,12,-35323
5,savio_moreira_de_oliveira,MID,Man City,106.0,111.910340,0.0,0,437,61063,0.0,0,-60626
6,james_maddison,MID,Spurs,133.0,111.047565,0.0,0,278,15933,0.0,0,-15655
8,iliman_ndiaye,MID,Everton,114.0,101.479645,5.0,10,84900,261738,0.8,153,-176838
10,amad_diallo,MID,Man Utd,129.0,99.592564,1.0,2,19911,93082,0.2,86,-73171
11,alejandro_garnacho_ferreyra,MID,Man Utd,106.0,99.592564,0.0,0,1758,7254,0.0,0,-5496
13,ismaila_sarr,MID,Crystal Palace,149.0,98.227482,5.5,11,138727,104998,0.8,180,33729
14,alex_iwobi,MID,Fulham,156.0,97.051503,4.5,9,12503,38982,0.7,155,-26479
15,enzo_fernandez,MID,Chelsea,135.0,96.027198,6.5,13,154010,85391,1.0,168,68619
16,estevao_almeida_de_oliveira_goncalves,MID,Chelsea,0.0,96.027198,2.5,5,88022,58429,0.4,112,29593
17,declan_rice,MID,Arsenal,127.0,95.997649,6.0,12,171465,135736,0.9,172,35729
19,bruno_guimaraes_rodriguez_moura,MID,Newcastle,135.0,94.459226,4.5,9,51217,36823,0.7,180,14394
20,jacob_murphy,MID,Newcastle,159.0,94.459226,0.5,1,4625,91092,0.1,12,-86467
21,harvey_barnes,MID,Newcastle,130.0,94.459226,2.5,5,40338,21069,0.4,164,19269
22,jack_grealish,MID,Man City,38.0,93.856462,6.0,12,290968,90112,0.9,109,200856
23,jeremy_doku,MID,Man City,88.0,93.856462,2.0,4,13893,42324,0.3,101,-28431
24,ilkay_gundogan,MID,Man City,97.0,93.856462,0.0,0,1156,8579,0.0,0,-7423
25,bernardo_mota_veiga_de_carvalho_e_silva,MID,Man City,110.0,93.856462,2.0,4,10493,27647,0.3,101,-17154
26,rodrigo_'rodri'_hernandez_cascante,MID,Man City,3.0,93.856462,0.5,1,9089,23544,0.1,15,-14455
27,rayan_cherki,MID,Man City,0.0,93.856462,3.5,7,155963,220999,0.5,70,-65036
28,dejan_kulusevski,MID,Spurs,117.0,92.993688,0.0,0,158,782,0.0,0,-624
29,mathys_tel,MID,Spurs,42.0,92.993688,0.5,1,1326,6345,0.1,5,-5019
34,dominik_szoboszlai,MID,Liverpool,143.0,90.712638,2.0,4,18452,56925,0.3,180,-38473
35,federico_chiesa,MID,Liverpool,7.0,90.712638,3.5,7,11899,8470,0.5,18,3429
50,dwight_mcneil,MID,Everton,93.0,83.425767,0.5,1,1708,17527,0.1,19,-15819
51,jadon_sancho,MID,Man Utd,86.0,81.538687,0.0,0,1030,4664,0.0,0,-3634
52,antony_dos_santos,MID,Man Utd,8.0,81.538687,0.0,0,1199,4660,0.0,0,-3461

In [17]:
pos_pred_df4.sort_values('transfers_in', ascending=False).query('pos=="DEF"').head(50)

,full_name,pos,team_name,total_points_x,y_pred,form,total_points_y,transfers_in,transfers_out,value_form,minutes,transfer_delta
264,micky_van_de_ven,DEF,Spurs,32.0,44.436177,6.0,12,429320,205504,1.3,180,223816
307,matty_cash,DEF,Aston Villa,76.0,40.406014,5.0,10,359375,92930,1.1,180,266445
117,tino_livramento,DEF,Newcastle,105.0,62.717278,6.5,13,307347,52078,1.3,180,255269
149,rico_lewis,DEF,Man City,66.0,57.743441,6.0,12,300862,76581,1.2,155,224281
391,reinildo_mandava,DEF,Sunderland,0.0,33.661237,4.5,9,256900,88762,1.1,180,168138
540,josh_acheampong,DEF,Chelsea,4.0,-1.800599,4.5,9,241681,74963,1.1,90,166718
221,marc_guehi,DEF,Crystal Palace,116.0,45.849293,4.0,8,221811,123179,0.9,180,98632
379,maxime_esteve,DEF,Burnley,0.0,33.661237,3.5,7,166204,164262,0.9,172,1942
115,dan_burn,DEF,Newcastle,115.0,62.717278,5.5,11,143928,50660,1.1,180,93268
373,gabriel_gudmundsson,DEF,Leeds,0.0,33.661237,4.0,8,131592,57144,1.0,180,74448
47,matthijs_de_ligt,DEF,Man Utd,68.0,85.727863,5.5,11,115460,40240,1.1,180,75220
353,marcos_senesi_baron,DEF,Bournemouth,31.0,37.300360,5.5,11,104481,29284,1.2,180,75197
263,djed_spence,DEF,Spurs,51.0,44.436177,6.0,12,100313,27888,1.3,180,72425
194,leny_yoro,DEF,Man Utd,22.0,53.155964,5.0,10,100299,33070,1.1,176,67229
309,lucas_digne,DEF,Aston Villa,89.0,40.406014,4.0,8,69582,31843,0.9,153,37739
67,tyrick_mitchell,DEF,Crystal Palace,123.0,78.421192,5.0,10,69498,29569,1.0,180,39929
381,hjalmar_ekdal,DEF,Burnley,0.0,33.661237,5.0,10,62163,12193,1.2,180,49970
116,kieran_trippier,DEF,Newcastle,72.0,62.717278,3.5,7,59397,28604,0.7,165,30793
310,tyrone_mings,DEF,Aston Villa,47.0,40.406014,4.0,8,54834,21887,0.9,180,32947
308,ezri_konsa_ngoyo,DEF,Aston Villa,103.0,40.406014,1.5,3,53838,648403,0.3,65,-594565
355,adrien_truffert,DEF,Bournemouth,0.0,37.300360,3.0,6,52720,20567,0.7,180,32153
372,joe_rodon,DEF,Leeds,0.0,33.661237,4.5,9,50575,29724,1.1,180,20851
222,chris_richards,DEF,Crystal Palace,68.0,45.849293,4.0,8,49015,25123,0.9,180,23892
521,alex_moreno_lopera,DEF,Aston Villa,34.0,7.834115,0.0,0,44476,231685,0.0,0,-187209
71,ibrahima_konate,DEF,Liverpool,106.0,77.565390,0.5,1,36693,77127,0.1,180,-40434
167,aaron_wan_bissaka,DEF,West Ham,118.0,56.569787,0.5,1,36105,584034,0.1,180,-547929
330,maxim_de_cuyper,DEF,Brighton,0.0,39.154170,1.0,2,36087,115377,0.2,156,-79290
349,sepp_van_den_berg,DEF,Brentford,62.0,37.911909,5.5,11,28776,9282,1.2,180,19494
91,kyle_walker,DEF,Burnley,13.0,66.233136,3.5,7,28410,34613,0.8,180,-6203
81,nathan_collins,DEF,Brentford,127.0,70.483808,4.5,9,25548,28209,0.9,180,-2661
42,myles_lewis_skelly,DEF,Arsenal,37.0,86.436866,0.5,1,24898,149406,0.1,44,-124508
348,michael_kayode,DEF,Brentford,27.0,37.911909,5.5,11,24559,6005,1.2,174,18554
41,benjamin_white,DEF,Arsenal,50.0,86.436866,3.0,6,21859,38102,0.5,70,-16243
392,tosin_adarabioyo,DEF,Chelsea,71.0,30.771301,1.0,2,20630,37231,0.2,90,-16601
100,malo_gusto,DEF,Chelsea,60.0,63.343200,1.5,3,20413,49625,0.3,79,-29212
229,joachim_andersen,DEF,Fulham,51.0,45.379851,3.0,6,20168,29705,0.7,180,-9537
468,ki_jana_hoever,DEF,Wolves,0.0,22.124913,1.0,2,20019,45616,0.2,106,-25597
213,michael_keane,DEF,Everton,48.0,48.499879,5.0,10,18019,8374,1.1,180,9645
331,lewis_dunk,DEF,Brighton,44.0,39.154170,1.5,3,17388,22380,0.3,180,-4992
193,diogo_dalot_teixeira,DEF,Man Utd,95.0,53.155964,1.0,2,15935,38332,0.2,92,-22397
536,james_hill,DEF,Bournemouth,17.0,4.728461,1.0,2,15460,15530,0.2,3,-70
166,el_hadji_malick_diouf,DEF,West Ham,0.0,56.569787,2.0,4,15172,143264,0.4,180,-128092
95,trai_hume,DEF,Sunderland,0.0,66.233136,3.5,7,13335,6532,0.8,180,6803
386,quilindschy_hartman,DEF,Burnley,0.0,33.661237,3.5,7,12974,9191,0.9,180,3783
356,adam_smith,DEF,Bournemouth,57.0,37.300360,3.5,7,12607,6554,0.8,179,6053
537,julian_araujo_zuniga,DEF,Bournemouth,12.0,4.728461,0.0,0,11683,25854,0.0,0,-14171
192,luke_shaw,DEF,Man Utd,5.0,53.155964,2.0,4,10398,5100,0.4,165,5298
37,nathan_ake,DEF,Man City,25.0,90.315340,0.5,1,8992,19017,0.1,67,-10025
58,jake_o'brien,DEF,Everton,65.0,81.071778,4.0,8,8967,10085,0.8,180,-1118
469,alfie_pond,DEF,Wolves,1.0,22.124913,0.0,0,8389,24036,0.0,0,-15647