In [1]:
import requests, json
import pandas as pd
from useful_funcs import *
from predict_player_scores import get_latest_players_df

In [2]:
league_url = 'https://draft.premierleague.com/api/league/19188/element-status'
r = requests.get(league_url).json()
ownership_df = pd.json_normalize(r['element_status'])

In [3]:
url = 'https://draft.premierleague.com/api/bootstrap-static'
req = requests.get(url).json()
players_df = pd.json_normalize(req['elements'])

In [4]:
players_df['full_name'] = players_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)
merge_name_df = players_df[['id', 'full_name']]

In [5]:
ownership_df_name = ownership_df.merge(merge_name_df, how='left', left_on='element', right_on='id')

In [6]:
old_pred_df = pd.read_csv('../drafting/player_score_predictions_delta.csv')

In [7]:
old_pred_df['full_name'] = old_pred_df['full_name'].str.lower().str.strip()

In [8]:
pred_df = old_pred_df.merge(ownership_df_name, how='outer', on='full_name')

In [9]:
pred_df

,full_name,pos,team_name,total_points,y_pred,notes,y_pred_delta_1,y_pred_delta_2,y_pred_delta_3,y_pred_delta_4,...,y_pred_delta_7,y_pred_delta_8,y_pred_delta_9,y_pred_delta_10,is_available,element,in_accepted_trade,owner,status,id
0,aaron_anselmino,DEF,Chelsea,0.0,-1.800599,NaN,0.625922,0.0,0.000000,0.000000,...,0.000000,8.871476,0.000000,0.000000,True,234.0,False,NaN,a,234.0
1,aaron_hickey,DEF,Brentford,0.0,5.340009,NaN,0.000000,0.0,0.000000,0.611548,...,0.000000,0.000000,0.000000,0.000000,True,116.0,False,NaN,a,116.0
2,aaron_ramsdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,673.0,False,NaN,a,673.0
3,aaron_ramsey,MID,Burnley,0.0,27.162412,promoted_team,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,True,211.0,False,NaN,a,211.0
4,aaron_wan_bissaka,DEF,West Ham,118.0,56.569787,NaN,0.000000,0.0,0.000000,0.000000,...,1.872975,0.000000,0.000000,0.000000,True,610.0,False,NaN,a,610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,zain_silcott_duberry,MID,Bournemouth,1.0,24.922663,jan_transfer,0.086670,0.0,0.000000,0.000000,...,0.000000,0.000000,0.421542,0.000000,True,95.0,False,NaN,a,95.0
737,zak_johnson,DEF,Sunderland,0.0,33.661237,promoted_team,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.625922,True,538.0,False,NaN,a,538.0
738,zeki_amdouni,FWD,Burnley,0.0,66.568110,promoted_team,0.000000,0.0,0.000000,0.970461,...,5.550651,1.220135,0.000000,0.356870,True,216.0,False,NaN,a,216.0
739,zepiqueno_redmond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65.0,False,NaN,a,65.0
740,zian_flemming,FWD,Burnley,0.0,81.479344,promoted_team,0.000000,0.0,0.233474,3.984478,...,0.023493,0.333376,2.264915,0.000000,True,215.0,False,NaN,a,215.0

In [10]:
pos_pred_df2 = pred_df.sort_values('y_pred', ascending=False).query('status=="a"')

pos_pred_df3 = pos_pred_df2.iloc[:, :5]

In [11]:
updated_player_df = get_latest_players_df()

col_of_interest = ['first_name', 'second_name',
                   'form', 'total_points', 'transfers_in', 'transfers_out', 'value_form', 'minutes']

current_stats = updated_player_df[col_of_interest]

current_stats['full_name'] = updated_player_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)

current_stats2 = current_stats.drop(['first_name', 'second_name'], axis=1)

current_stats2['transfer_delta'] = current_stats2['transfers_in'] - current_stats2['transfers_out']

C:\Users\dellis2\AppData\Local\Temp\ipykernel_39796\1447550088.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_stats['full_name'] = updated_player_df.apply(lambda row: combine_clean_names(row['first_name'], row['second_name']), axis=1)

In [12]:
pos_pred_df4 = pos_pred_df3.merge(current_stats2, on='full_name', how='left')

In [13]:
pos_pred_df4.query('pos=="MID"').head(30)

,full_name,pos,team_name,total_points_x,y_pred,form,total_points_y,transfers_in,transfers_out,value_form,minutes,transfer_delta
0,omar_marmoush,MID,Man City,73.0,166.071973,2.7,9,161912,985415,0.3,148,-823503
1,son_heung_min,MID,Spurs,129.0,165.209198,0.0,0,0,23340,0.0,0,-23340
2,matheus_santos_carneiro_da_cunha,MID,Man Utd,178.0,153.754197,1.0,5,720023,1152302,0.1,210,-432279
3,luis_diaz_marulanda,MID,Liverpool,183.0,144.874270,0.0,0,0,6596,0.0,0,-6596
6,marcus_rashford,MID,Man Utd,95.0,117.646442,0.0,0,0,1705,0.0,0,-1705
7,justin_kluivert,MID,Bournemouth,158.0,115.192051,1.0,3,34466,63491,0.1,44,-29025
8,leandro_trossard,MID,Arsenal,152.0,114.051526,1.7,5,4257,19041,0.2,48,-14784
9,gabriel_martinelli_silva,MID,Arsenal,125.0,114.051526,1.3,5,21890,77347,0.2,140,-55457
10,noni_madueke,MID,Arsenal,120.0,114.051526,2.7,9,125485,70209,0.4,259,55276
12,savio_moreira_de_oliveira,MID,Man City,106.0,111.910340,0.3,1,2953,73764,0.0,13,-70811
13,kevin_schade,MID,Brentford,149.0,111.642448,3.3,11,25797,21673,0.5,302,4124
14,james_maddison,MID,Spurs,133.0,111.047565,0.0,0,488,19764,0.0,0,-19276
17,iliman_ndiaye,MID,Everton,114.0,101.479645,6.7,22,271794,539495,1.0,333,-267701
19,amad_diallo,MID,Man Utd,129.0,99.592564,2.7,9,36905,167361,0.4,266,-130456
20,alejandro_garnacho_ferreyra,MID,Man Utd,106.0,99.592564,0.3,1,20207,16907,0.0,11,3300
22,jamie_bynoe_gittens,MID,Chelsea,0.0,96.027198,1.0,4,4883,22819,0.2,143,-17936
23,estevao_almeida_de_oliveira_goncalves,MID,Chelsea,0.0,96.027198,2.7,8,190749,159474,0.4,179,31275
27,jacob_murphy,MID,Newcastle,159.0,94.459226,3.0,10,21852,137013,0.5,163,-115161
28,harvey_barnes,MID,Newcastle,130.0,94.459226,2.0,9,121536,74950,0.3,265,46586
29,jeremy_doku,MID,Man City,88.0,93.856462,4.0,15,88951,77555,0.6,195,11396
30,ilkay_gundogan,MID,Man City,97.0,93.856462,0.0,0,1928,16460,0.0,0,-14532
31,bernardo_mota_veiga_de_carvalho_e_silva,MID,Man City,110.0,93.856462,3.0,12,21189,47987,0.5,259,-26798
32,rayan_cherki,MID,Man City,0.0,93.856462,0.3,7,175269,785027,0.0,70,-609758
33,dejan_kulusevski,MID,Spurs,117.0,92.993688,0.0,0,255,1172,0.0,0,-917
34,mathys_tel,MID,Spurs,42.0,92.993688,1.3,5,4009,10147,0.2,97,-6138
39,federico_chiesa,MID,Liverpool,7.0,90.712638,1.0,9,15032,19073,0.2,47,-4041
40,alexis_mac_allister,MID,Liverpool,122.0,90.712638,1.3,9,48827,112154,0.2,176,-63327
57,dwight_mcneil,MID,Everton,93.0,83.425767,0.3,1,3596,29403,0.1,19,-25807
58,jadon_sancho,MID,Man Utd,86.0,81.538687,0.0,0,18290,13334,0.0,0,4956
59,antony_dos_santos,MID,Man Utd,8.0,81.538687,0.0,0,1511,8737,0.0,0,-7226

In [15]:
pos_pred_df4.sort_values('transfers_in', ascending=False).query('pos=="MID"').head(50)

,full_name,pos,team_name,total_points_x,y_pred,form,total_points_y,transfers_in,transfers_out,value_form,minutes,transfer_delta
152,tijjani_reijnders,MID,Man City,0.0,57.748707,2.3,17,2018822,892231,0.4,360,1126591
2,matheus_santos_carneiro_da_cunha,MID,Man Utd,178.0,153.754197,1.0,5,720023,1152302,0.1,210,-432279
440,josh_king,MID,Fulham,10.0,24.835993,1.7,7,407116,126121,0.4,271,280995
70,lucas_tolentino_coelho_de_lima,MID,West Ham,80.0,79.927380,7.0,23,390610,141446,1.2,337,249164
296,kiernan_dewsbury_hall,MID,Chelsea,18.0,41.865565,5.3,18,293215,231697,1.1,360,61518
17,iliman_ndiaye,MID,Everton,114.0,101.479645,6.7,22,271794,539495,1.0,333,-267701
255,josh_cullen,MID,Burnley,0.0,45.216290,6.3,23,259035,83404,1.3,332,175631
139,martin_zubimendi_ibanez,MID,Arsenal,0.0,59.889894,6.7,25,242051,137902,1.2,360,104149
126,marcus_tavernier,MID,Bournemouth,87.0,61.030419,5.3,20,206192,81629,1.0,332,124563
343,pape_matar_sarr,MID,Spurs,71.0,38.832055,4.3,19,199358,160552,0.9,345,38806
23,estevao_almeida_de_oliveira_goncalves,MID,Chelsea,0.0,96.027198,2.7,8,190749,159474,0.4,179,31275
32,rayan_cherki,MID,Man City,0.0,93.856462,0.3,7,175269,785027,0.0,70,-609758
0,omar_marmoush,MID,Man City,73.0,166.071973,2.7,9,161912,985415,0.3,148,-823503
71,dango_ouattara,MID,Bournemouth,111.0,79.084296,5.3,16,156145,76032,0.9,190,80113
162,matt_o'riley,MID,Brighton,50.0,57.205041,0.7,12,130744,156292,0.1,177,-25548
10,noni_madueke,MID,Arsenal,120.0,114.051526,2.7,9,125485,70209,0.4,259,55276
28,harvey_barnes,MID,Newcastle,130.0,94.459226,2.0,9,121536,74950,0.3,265,46586
72,callum_hudson_odoi,MID,Nott'm Forest,103.0,79.084296,4.3,15,121372,87522,0.7,308,33850
436,hamed_traore,MID,Bournemouth,0.0,24.922663,0.0,4,114900,108253,0.0,16,6647
252,granit_xhaka,MID,Sunderland,0.0,45.216290,4.3,16,108256,117872,0.9,360,-9616
29,jeremy_doku,MID,Man City,88.0,93.856462,4.0,15,88951,77555,0.6,195,11396
151,oscar_bobb,MID,Man City,3.0,57.748707,1.7,11,71251,42300,0.3,257,28951
188,ryan_gravenberch,MID,Liverpool,92.0,54.604883,4.0,12,67420,26155,0.7,270,41265
121,simon_adingra,MID,Sunderland,60.0,63.270167,1.7,11,67137,115731,0.3,230,-48594
331,carlos_baleba,MID,Brighton,87.0,39.151164,0.7,5,64783,241092,0.1,196,-176309
189,harvey_elliott,MID,Liverpool,33.0,54.604883,0.7,2,64221,26735,0.1,20,37486
410,aaron_ramsey,MID,Burnley,0.0,27.162412,0.0,0,62789,568152,0.0,0,-505363
457,enso_gonzalez_medina,MID,Wolves,0.0,22.767691,0.0,0,62767,71146,0.0,0,-8379
291,amadou_onana,MID,Aston Villa,65.0,42.287107,0.3,6,58693,148728,0.1,153,-90035
221,james_garner,MID,Everton,42.0,47.318012,6.3,21,49970,16823,1.3,360,33147
422,justin_devenny,MID,Crystal Palace,34.0,26.011972,1.3,5,48876,79913,0.3,97,-31037
40,alexis_mac_allister,MID,Liverpool,122.0,90.712638,1.3,9,48827,112154,0.2,176,-63327
458,lewis_miley,MID,Newcastle,21.0,22.243716,0.7,3,46835,112712,0.2,76,-65877
283,david_brooks,MID,Bournemouth,52.0,42.976541,2.7,12,44470,21927,0.5,278,22543
149,sandro_tonali,MID,Newcastle,106.0,58.351471,2.7,11,42141,109724,0.5,335,-67583
236,anton_stach,MID,Leeds,0.0,45.216290,2.0,14,40226,24641,0.4,360,15585
241,enzo_le_fee,MID,Sunderland,0.0,45.216290,4.0,13,40011,32007,0.8,131,8004
19,amad_diallo,MID,Man Utd,129.0,99.592564,2.7,9,36905,167361,0.4,266,-130456
85,yankuba_minteh,MID,Brighton,102.0,75.258919,4.0,15,36538,72893,0.7,338,-36355
428,freddie_potts,MID,West Ham,0.0,25.765747,0.3,1,35369,36356,0.1,45,-987
7,justin_kluivert,MID,Bournemouth,158.0,115.192051,1.0,3,34466,63491,0.1,44,-29025
242,chemsdine_talbi,MID,Sunderland,0.0,45.216290,2.7,14,33152,25245,0.5,306,7907
76,mikel_merino_zazon,MID,Arsenal,92.0,77.943771,2.0,7,30020,48480,0.3,166,-18460
73,emile_smith_rowe,MID,Fulham,114.0,78.997626,2.7,9,29813,58550,0.5,85,-28737
86,georginio_rutter,MID,Brighton,95.0,75.258919,0.7,8,27788,111289,0.1,163,-83501
168,lucas_bergvall,MID,Spurs,44.0,56.885932,4.3,16,27429,9884,0.8,198,17545
13,kevin_schade,MID,Brentford,149.0,111.642448,3.3,11,25797,21673,0.5,302,4124
137,john_mcginn,MID,Aston Villa,78.0,60.340984,2.3,10,23793,37268,0.4,319,-13475
84,mikkel_damsgaard,MID,Brentford,131.0,75.534692,2.3,7,23768,60189,0.4,180,-36421
277,tyler_adams,MID,Bournemouth,58.0,42.976541,2.3,11,23722,19183,0.5,357,4539